form {
  text-align: center;
}

.lisaEse{
  align-content: center;
}

.inputClass{
  border-radius: 5px;
  border-color: blue;
}

.submitButton {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-top:50px;
}

.deleteButton {
  background-color: red; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-top:50px;
}

.changeButton {
  background-color: gray; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-top:50px;

}